<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.systemMapper.AdminLogMapper">
    <resultMap id="BaseResultMap" type="com.cskaoyan.mall.bean.system.Log">
        <result column="id"  property="id" />
        <result column="admin"  property="admin" />
        <result column="action"  property="action" />
        <result column="add_time"  property="addTime" />
        <result column="comment"  property="comment" />
        <result column="deleted"  property="deleted" />
        <result column="result"  property="result" />
        <result column="status"  property="status" />
        <result column="type"  property="type" />
        <result column="update_time"  property="updateTime" />
        <result column="ip"  property="ip" />
    </resultMap>

    <sql id="BaseColumnList">
        `action` ,add_time,`admin`,comment,deleted,id,ip,result,status,`type`,update_time
    </sql>

    <select id="find" resultMap="BaseResultMap">
        select
           <include refid="BaseColumnList"/>
        from
            cskaoyan_mall_log
        where
            `admin` like concat('%', #{name}, '%')
        order by #{add_time} #{desc}
    </select>
</mapper>