<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.promotion.CouponMapper">
    <resultMap id="BaseResultMap" type="com.cskaoyan.mall.bean.promotion.Coupon">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="desc" property="desc"/>
        <result column="tag" property="tag"/>
        <result column="total" property="total"/>
        <result column="discount" property="discount"/>
        <result column="min" property="min"/>
        <result column="limit" property="limit"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="goods_type" property="goodsType"/>
        <result column="goods_value" property="goodsValue"/>
        <result column="time_type" property="timeType"/>
        <result column="days" property="days"/>
        <result column="add_time" property="addTime"/>
        <result column="deleted" property="deleted"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

   <!--<sql id="Base_Column_List">
       id, name, desc, tag, total, discount, min, limit, type, status, goods_type, goods_value, time_type,
       days, add_time, deleted, update_time
   </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cskaoyan_mall_coupon order by #{sort} #{order}
    </select>-->

    <select id="findAll" resultMap="BaseResultMap">
        select * from cskaoyan_mall_coupon order by #{sort} #{order}
    </select>
</mapper>