<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.configuration.ExpressConfigMapper">

   <!-- <update id="updateMallConfig">
        update cskaoyan_mall_system set
        key_value = #{mallConfig.litemall_mall_name}
        where key_name = 'cskaoyan_mall_mall_name';

        update cskaoyan_mall_system set
        key_value = #{mallConfig.litemall_mall_address}
        where key_name = 'cskaoyan_mall_mall_address';

        update cskaoyan_mall_system set
        key_value = #{mallConfig.litemall_mall_phone}
        where key_name = 'cskaoyan_mall_mall_phone';

        update cskaoyan_mall_system set
        key_value = #{mallConfig.litemall_mall_qq}
        where key_name = 'cskaoyan_mall_mall_qq';
    </update>-->

    <select id="findMin" resultType="java.lang.String">
        select key_value from cskaoyan_mall_system
        where key_name = 'cskaoyan_mall_express_freight_min';
    </select>

    <select id="findValue" resultType="java.lang.String">
        select key_value from cskaoyan_mall_system
        where key_name = 'cskaoyan_mall_express_freight_value';
    </select>


</mapper>
